figures/heatmap.pdf
figures/p-graph
figures/p-graph-dag
figures/p-graph-dag-labelled
figures/p-graph-dag-labelled.pdf
figures/p-graph-dag.pdf
figures/p-graph.pdf
figures/frequency_plot.png
paper.out
paper.log
paper.aux
paper.bbl
paper.blg
paper.upa
paper.upb
x.log
venv
_minted-paper/
paper.pdf
texput.log