images/heatmap.pdf
images/p-graph
images/p-graph-dag
images/p-graph-dag-labelled
images/p-graph-dag-labelled.pdf
images/p-graph-dag.pdf
images/p-graph.pdf
images/frequency_plot.png
paper.out
paper.log
paper.aux
paper.bbl
paper.blg
paper.upa
paper.upb
x.log
venv
_minted-paper/
paper.pdf
texput.log